<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Room Controller</title>
        <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script src="/static/js/jquery-3.4.1.min.js"></script>
    </head>
    <body>
        <div class="temperature_and_humidity">
            <p class="temperature_and_humidity_string">
                Temperature <span id="temperature">---</span>℃
            </p>
        </div>
        <div class="temperature_and_humidity">
            <p class="temperature_and_humidity_string" >
                Humidity <span id="humidity">---</span>%
            </p>
        </div>
        <script src="/static/js/fetch-temperature-and-humidity.js"></script>
    </body>
</html>
